/* Para dispositivos con pantallas pequeñas, como los teléfonos en modo vertical */

@media screen and (max-width: 1024px) and (max-height: 600px) {
    body {
        width: 320;
        height: 640;
        background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-recruitment-computer-programmer-programming-poster-picture-image_1120467.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: aliceblue;
    }
    a {
        color: aliceblue;
    }

    /*  index grid responsive */

    .contenedor-index {
        display: grid;
        grid-template-areas: 
        "header"
        "section"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 160px 1fr 160px;
        justify-content: center;
    }
    .index-header, .masInformacion-header, .sobreMi-header, .proyectos-header, .contactar-header{
        font-size: 100%;
        grid-area: header;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .index-section {
        font-size: 150%;
        grid-area: section;
        display: flex;
        justify-self:  center;
    }
    .contenedor-index .index-section h2, .contenedor-index .index-section p {
        text-align: center;
    }
    .index-img {
        display: none;
    }
    .index-footer {
        font-size: 110%;
        grid-area: footer;
        display: flex;
        justify-content: space-evenly;
        margin-top: 5%;
    }

    /* mas informacion grid responsive */

    .contenedor-masInformacion {
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "header section"
        "img    section";
        grid-template-columns: 45% 1fr;
        grid-template-rows: 125px 1fr;
        justify-content: center;
    }
    .masInformacion-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .masInformacion-section {
        font-size: 200%;
        grid-area: section;
        display: flex;
        justify-self: start;
        align-self: center;
        line-height: 20vh;
        justify-self: center;
    }
    .masInformacion-img {
        display: flex;
        padding: 5%;
    } 

    /* Sobre mi grid responsive */

    .contenedor-sobreMi {
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "header section"
        "img    section"
        "img    footer";
        grid-template-columns: 45% 1fr;
        grid-template-rows: 125px 1fr 100px;
        justify-content: center;
    }
    .sobreMi-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sobreMi-section {
        padding: 5%;
        font-size: 160%;
        grid-area: section;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sobreMi-img {
        width: 400px;
        height: 100%;
        grid-area: img;
        display: flex;
        justify-content: end;
        align-items: center;
   }
   .sobreMi-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
   }

   /* grid proyectos*/

    .contenedor-proyectos {
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "header header header header"
        "galeria galeria galeria galeria"
        "galeria galeria galeria galeria";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px repeat(3, 1fr);
        justify-content: center;
    }
    .proyectos-header {
        display: flex;
        justify-items: center;
    }
    .proyectos-galeria {
        grid-area: galeria;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 200px);
        gap: 10px;
        border-radius: 10px;
        border: none;
    }

    /* grid contactar*/

    .contenedor-contactar {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "header section"
        "header section"
        "footer footer";
        grid-template-columns: 30% 1fr;
        grid-template-rows: 20% auto 20%;
    }
    .contactar-header {
        grid-area: header;
        text-align: center;
        display: inline-block;
        justify-self: center;
    }
    .contenedor-contactar .contactar-header h1 {
        display: none;
    }
    .contactar-section {
        grid-area: section;
        display: flex;
    }
    .contactar-img {
        display: none;
    }
    .contactar-footer {
        background: none;
        grid-area: footer;
        font-size: 100%;
        display: flex;
    }
}
    