* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: #eeeeee;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
.h2 {
    margin: 0 2%;
    padding: 0 2%;
    border-left: solid 1px #000;
}
.h2-sobreMi {
    margin: 0 3%;
    padding: 0 3%;
    border-left: solid 1px #000;
}
.masInformacion-section li {
    counter-increment: myCounter;
    list-style-type: none;
}
.masInformacion-section li a:before {
    content: counter(myCounter) " - " counter(myCounter) " - " counter(myCounter) "  ";
    margin-right: 10px;
}
.contactar-section {
    text-align: center;
}
.formulario {
    display: inline-block; 
    text-align: left;
    width: 70%;
    height: auto;
}
fieldset {
    border: 5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 15px;
}
label {
    display: block; 
    margin-bottom: 5px;
}
input {
    height: 50px;
}
input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 2%;
    font-size: 110%;
}
textarea {
    font-size: 17px;
}
#enviar, #limpiar {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin-right: 5px;
}
.img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}
.imgGaleri {
    width: 400px;
    height: 350px;
}
.img-sobreMi, .img-contactar {
    border-radius: 10px;
    width: 85%;
    height: 95%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}
.contenedor-sobreMi .sobreMi-section h1 {
    margin-bottom: 4%;
}